<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Game</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .container-fluid {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        .form-container {
            width: 100%;
            max-width: 600px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="form-container">

            <form method="POST" id="foosform">
        <h2 class="mb-4 text-center">Edit Game</h2>
        <form method="POST">
            <label for="red-team" class="form-label">Red Team:</label>
            <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example"  id="red_score" name="red_score" value="{{ game.red_score }}">
                    <option selected>{{ game.red_score }}</option>
                    <option value="1">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                  <input type="text" id="red_player1" name="red_player1" class="form-control"required placeholder="Player 1" aria-label="Player 1" value="{{ game.R1.name }}">
                  <input type="text" id="red_player2" name="red_player2" class="form-control" placeholder="Player 2" aria-label="Player 2" value="{{ game.R2.name }}">
            </div>
            <label for="blue-team" class="form-label">Blue Team:</label>
            <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example"  id="blue_score" name="blue_score" value="{{ game.blue_score }}">
                    <option selected>{{ game.blue_score }}</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                  <input type="text" id="blue_player1" name="blue_player1" class="form-control"required placeholder="Player 1" aria-label="Player 1" value="{{ game.B1.name }}">
                  <input type="text" id="blue_player2" name="blue_player2" class="form-control" placeholder="Player 2" aria-label="Player 2" value="{{ game.B2.name }}">
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" class="form-control" value="{{ game.date_time }}" required>
            </div>
            <div id="error-message" class="text-danger mb-3" style="display: none;">At least one goal must be made!</div>
            <button type="submit" class="btn btn-primary w-100">Update Game</button>
        </form>
    </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        if (!document.getElementById('date').value) {
            document.getElementById('date').valueAsDate = new Date();
        }
        document.getElementById('foosform').addEventListener('submit', function(event) {
            const dropdown1 = parseInt(document.getElementById('blue_score').value);
            const dropdown2 = parseInt(document.getElementById('red_score').value);
            const sum = dropdown1 + dropdown2;

            if (sum < 1) {
                event.preventDefault();
                document.getElementById('error-message').style.display = 'block';
            } else {
                document.getElementById('error-message').style.display = 'none';
            }
        })
    </script>
</body>
</html>
