<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Game</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Edit Game</h2>
        <form method="POST">
            <label for="red-team" class="form-label">Red Team:</label>
            <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example"  id="red_goals" name="red_goals" value="{{ game.red_goals }}">
                    <option selected>{{ game.red_goals }}</option>
                    <option value="1">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                  <input type="text" id="red_player1" name="red_player1" class="form-control"required placeholder="Player 1" aria-label="Player 1" value="{{ game.red_player1 }}">
                  <input type="text" id="red_player2" name="red_player2" class="form-control" required placeholder="Player 2" aria-label="Player 2" value="{{ game.red_player2 }}">
            </div>
            <label for="blue-team" class="form-label">Blue Team:</label>
            <div class="input-group mb-3">
                <select class="form-select" aria-label="Default select example"  id="blue_goals" name="blue_goals" value="{{ game.blue_goals }}">
                    <option selected>{{ game.blue_goals }}</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                  <input type="text" id="blue_player1" name="blue_player1" class="form-control"required placeholder="Player 1" aria-label="Player 1" value="{{ game.blue_player1 }}">
                  <input type="text" id="blue_player2" name="blue_player2" class="form-control" required placeholder="Player 2" aria-label="Player 2" value="{{ game.blue_player2 }}">
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" class="form-control" value="{{ game.date }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Game</button>
        </form>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        if (!document.getElementById('date').value) {
            document.getElementById('date').valueAsDate = new Date();
        }
    </script>
</body>
</html>
