<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elo Tracker</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Players</h3>
                <ul class="list-group">
                    {% for player in players %}
                        <li class="list-group-item d-flex">
                            {{ player.name }} ({{ player.elo }})
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-8">
                <h3>Games</h3>
                <a href="{{ url_for('add_game') }}" class="btn btn-primary mt-3">Add New Game</a>
                <ul class="list-group">
                    {% for game in games %}
                        {% if game.red_player2 != "" %}
                            {% set red_team = game.red_player1 ~ " (" ~ game.red_player1_elo ~ ") " ~ " & " ~ game.red_player2 ~ " (" ~ game.red_player2_elo ~ ") " %}
                        {% else %}
                            {% set red_team = game.red_player1 ~ " (" ~ game.red_player1_elo ~ ")"%}
                        {% endif %}

                        {% if game.blue_player2 != "" %}
                            {% set blue_team = game.blue_player1 ~ " (" ~ game.blue_player1_elo ~ ") " ~ " & " ~ game.blue_player2 ~ " (" ~ game.blue_player2_elo ~ ") " %}
                        {% else %}
                            {% set blue_team = game.blue_player1 ~ " (" ~ game.blue_player1_elo ~ ")"%}
                        {% endif %}
                        <li class="list-group-item">
                            {{ game.date }} <span class="badge bg-danger">{{ red_team }}</span> vs <span class="badge badge-primary">{{ blue_team }}</span> - {{ game.red_goals }} - {{ game.blue_goals }}

                            <div class="float-right">
                                <form action="{{ url_for('edit_game', game_id=loop.index0) }}" method="GET" class="d-inline">
                                    <button type="submit" class="btn btn-light btn-sm">&#x270E</button>
                                </form>
                                <form action="{{ url_for('delete_game', game_id=loop.index0) }}" method="POST" class="d-inline">
                                    <button type="submit" class="btn btn-light btn-sm">&#128465</button>
                                </form>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
