<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMT FoosRater</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>

    <div class="container-fluid">
        <!-- Floating Action Buttons -->
        <div class="fab-container">
            <!-- FAB 1: Modal Trigger -->
            <button class="fab fab-plus" data-bs-toggle="modal" data-bs-target="#overlay2">+</button>

            <!-- FAB 2: Menu Toggle -->
            <button class="fab fab-menu" onclick="toggleMenu()">☰</button>

            <!-- Hidden Menu -->
            <div class="menu-container" id="menu">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>
        </div>
        <div class="container my-2">
            <table class="table">
                <tbody>
                    {% for game in games %}
                    <tr>
                        <td class="actions">
                            <div class="action-icons">
                                <i class="fas fa-pencil-alt" style="cursor: pointer;" 
                                onclick="window.location.href='{{ url_for("edit_game", league_name=league_name, game_id=loop.index0) }}'"></i>
                                <i class="fas fa-trash" style="cursor: pointer;" 
                                onclick="sendPostRequest('{{ url_for("delete_game", league_name=league_name,  game_id=loop.index0) }}')"></i>
                            </div>
                        </td>
                        <td class="id-date">
                            <div class="d-flex flex-column align-items-center">
                                <strong># {{ game.id }}</strong>
                                <small>{{ game.date_time }}</small>
                            </div>
                        </td>
                        <td class="team">
                            <div class="team-container team-red">
                                <div class="player-card">
                                    <span class="emoji">{{ game.R1.league }}</span>
                                    <span class="player-name">{{ game.R1.name }}</span>
                                    <span class="player-rating">{{ game.r1_elo_delta | default(0) | round(1) }}</span>
                                </div>
                                {% if game.R2.name != "" %}
                                <div class="player-card">
                                    <span class="emoji">{{ game.R2.league }}</span>
                                    <span class="player-name">{{ game.R2.name }}</span>
                                    <span class="player-rating">{{ game.r2_elo_delta | default(0) | round(1) }}</span>
                                </div>
                                {% endif %}
                            </div>
                        </td>
                        <td class="score">
                            <div class="goal-container">
                                <span>{{ game.red_score }} - {{ game.blue_score }}</span>
                            </div>
                        </td>
                        <td class="team">
                            <div class="team-container team-blue">
                                <div class="player-card">
                                    <span class="emoji">{{ game.B1.league }}</span>
                                    <span class="player-name">{{ game.B1.name }}</span>
                                    <span class="player-rating">{{ game.b1_elo_delta | default(0) | round(1) }}</span>
                                </div>
                                {% if game.B2.name != "" %}
                                <div class="player-card">
                                    <span class="emoji">{{ game.B2.league }}</span>
                                    <span class="player-name">{{ game.B2.name }}</span>
                                    <span class="player-rating">{{ game.b2_elo_delta | default(0) | round(1) }}</span>
                                </div>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
    
                </tbody>
            </table>
        </div>
    <!-- </div> -->

    <div class="modal fade" id="overlay2" tabindex="-1" role="dialog" aria-labelledby="overlay2Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="overlay2Label">Add game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="foosform">
                        <label for="red-team" class="form-label">Red Team:</label>
                        <div class="input-group mb-3">
                            <select class="form-select" aria-label="Default select example" id="red_score" name="red_score">
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                              </select>

                                <input list="suggestionsList" id="red_player1" name="red_player1" class="form-control" required placeholder="Player 1" aria-label="Player 1">
                                <input list="suggestionsList" id="red_player2" name="red_player2" class="form-control" placeholder="Player 2" aria-label="Player 2">
                        </div>
                        <label for="blue-team" class="form-label">Blue Team:</label>
                        <div class="input-group mb-3">
                            <select class="form-select" aria-label="Default select example" id="blue_score" name="blue_score">
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                              </select>
                              <input list="suggestionsList" id="blue_player1" name="blue_player1" class="form-control" required placeholder="Player 1" aria-label="Player 1">
                              <input list="suggestionsList" id="blue_player2" name="blue_player2" class="form-control" placeholder="Player 2" aria-label="Player 2">
                            </div>
                        <div class="form-group">
                            <label for="date">Date:</label>
                            <input type="datetime-local" id="date_time" name="date_time" class="form-control" step="1" required>
                        </div>
                        <div id="error-message" class="text-danger mb-3" style="display: none;">At least one goal must be made!</div>
                        <button type="submit" class="btn btn-primary w-100">Add Game</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="overlay1" tabindex="-1" role="dialog" aria-labelledby="overlay1Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="overlay1Label">Ranking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for player in players_ranked %}
                            <li class="list-group-item d-flex">
                                {{ player.ranking }}.&nbsp;<span data-toggle="modal" data-target="#overlay3" class="name-link" data-name= {{ player.name }} > {{ player.name }}</span>&nbsp;(elo: {{ player.elo[-1] | int }}, {{ player.n_games }} games, {{ player.league }} league)
                            </li>
                        {% endfor %}
                        <li class="list-group-item d-flex">
                            Unranked players:
                        </li>
                        {% for player in players_unranked %}
                            <li class="list-group-item d-flex">
                                #.&nbsp;<span data-toggle="modal" data-target="#overlay3" class="name-link" data-name= {{ player.name }} > {{ player.name }}</span>&nbsp;(elo: {{ player.elo[-1] | int }}, {{ player.n_games }} games, {{ player.league }} league)
                            </li>
                        {% endfor %}

                        <datalist id="suggestionsList">
                            {% for player in players_ranked %}
                            <option value="{{ player.name }}"">
                            {% endfor %}
                            {% for player in players_unranked %}
                            <option value="{{ player.name }}"">
                            {% endfor %}
                        </datalist>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="overlay3" tabindex="-1" role="dialog" aria-labelledby="overlay3Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="overlay3Label">&nbsp;</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Top 5 opponents:</h6>
                    <ol id="list-opponents"></ol>
                    <h6>Top 5 teammates:</h6>
                    <ol id="list-teammates"></ol>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static',filename='js/script.js') }}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</body>
</html>