<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMT FoosRater</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
    <div class="container-fluid">
        <div class="row fixed-top bg-dark text-white d-flex justify-content-center align-items-center" style="height: 60px;">
            <div class="col-auto">
                <button class="btn btn-dark mx-2" data-toggle="modal" data-target="#overlay1">Ranking</button>
                <button class="btn btn-dark mx-2" data-toggle="modal" data-target="#overlay2">Add game</button>
                <a class="btn btn-dark" target="_blank" href="{{ url_for('player_stats') }}">Score Graph</a>
                <a class="btn btn-dark" target="_blank" href="{{ url_for('social_graph') }}">Network</a>
                <a class="btn btn-dark" target="_blank" href="https://github.com/robbertmijn/foosrater"><i class="fab fa-github"></i></a>
            </div>
        </div>
                <div class="default-div">
                    <h3>Games</h3>
                    <ul class="list-group">
                        {% for game in games %}
                            {% if game.red_player2 != "" %}
                                {% set red_team = game.red_player1 ~ " (" ~ game.red_player1_elo_change | round(1) ~ ") " ~ " & " ~ game.red_player2 ~ " (" ~ game.red_player2_elo_change | round(1) ~ ") " %}
                            {% else %}
                                {% set red_team = game.red_player1 ~ " (" ~ game.red_player1_elo_change | round(1) ~ ")"%}
                            {% endif %}

                            {% if game.blue_player2 != "" %}
                                {% set blue_team = game.blue_player1 ~ " (" ~ game.blue_player1_elo_change | round(1) ~ ") " ~ " & " ~ game.blue_player2 ~ " (" ~ game.blue_player2_elo_change | round(1) ~ ") " %}
                            {% else %}
                                {% set blue_team = game.blue_player1 ~ " (" ~ game.blue_player1_elo_change | round(1) ~ ")"%}
                            {% endif %}
                            <li class="list-group-item">
                                <div class="float-right">
                                    {{ game.date }}
                                    <form action="{{ url_for('edit_game', game_id=loop.index0) }}" method="GET" class="d-inline">
                                        <button type="submit" class="btn btn-light btn-sm">&#x270E</button>
                                    </form>
                                    <form action="{{ url_for('delete_game', game_id=loop.index0) }}" method="POST" class="d-inline">
                                        <button type="submit" class="btn btn-light btn-sm">&#128465</button>
                                    </form>
                                </div>
                                <br>
                                <div class="float-left">
                                    <span class="badge bg-danger">{{ red_team }}</span> vs <span class="badge badge-primary">{{ blue_team }}</span> - {{ game.red_goals }} - {{ game.blue_goals }}
                                </div>
                                

                            </li>
                        {% endfor %}
                    </ul>
                </div>
        version {{ version }}
    </div>

    <div class="modal fade" id="overlay2" tabindex="-1" role="dialog" aria-labelledby="overlay2Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="overlay2Label">Add game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="foosform">
                        <label for="red-team" class="form-label">Red Team:</label>
                        <div class="input-group mb-3">
                            <select class="form-select" aria-label="Default select example" id="red_goals" name="red_goals">
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                              </select>

                                <input list="suggestionsList" id="red_player1" name="red_player1" class="form-control" required placeholder="Player 1" aria-label="Player 1">
                                <input list="suggestionsList" id="red_player2" name="red_player2" class="form-control" placeholder="Player 2" aria-label="Player 2">
                        </div>
                        <label for="blue-team" class="form-label">Blue Team:</label>
                        <div class="input-group mb-3">
                            <select class="form-select" aria-label="Default select example" id="blue_goals" name="blue_goals">
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                              </select>
                              <input list="suggestionsList" id="blue_player1" name="blue_player1" class="form-control" required placeholder="Player 1" aria-label="Player 1">
                              <input list="suggestionsList" id="blue_player2" name="blue_player2" class="form-control" placeholder="Player 2" aria-label="Player 2">
                            </div>
                        <div class="form-group">
                            <label for="date">Date:</label>
                            <input type="date" id="date" name="date" class="form-control" required>
                        </div>
                        <div id="error-message" class="text-danger mb-3" style="display: none;">At least one goal must be made!</div>
                        <button type="submit" class="btn btn-primary w-100">Add Game</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="overlay1" tabindex="-1" role="dialog" aria-labelledby="overlay1Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="overlay1Label">Ranking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for player in players %}
                            <li class="list-group-item d-flex">
                                <!-- <button class="btn btn-dark mx-2" data-toggle="modal" data-target="#overlay3">profile</button> -->
                                {{ player.ranking }}.&nbsp;<span data-toggle="modal" data-target="#overlay3" class="name-link" data-name= {{ player.name }} > {{ player.name }}</span>&nbsp;({{ player.elo | round(1) }}, n = {{ player.games }})
                            </li>
                        {% endfor %}

                        <datalist id="suggestionsList">
                            {% for player in players %}
                            <option value="{{ player.name }}"">
                            {% endfor %}
                        </datalist>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="overlay3" tabindex="-1" role="dialog" aria-labelledby="overlay3Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="overlay3Label">&nbsp;</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Top 5 opponents:</h6>
                    <ol id="list-opponents"></ol>
                    <h6>Top 5 teammates:</h6>
                    <ol id="list-teammates"></ol>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('date').valueAsDate = new Date();
        document.getElementById('foosform').addEventListener('submit', function(event) {
            const dropdown1 = parseInt(document.getElementById('blue_goals').value);
            const dropdown2 = parseInt(document.getElementById('red_goals').value);
            const sum = dropdown1 + dropdown2;

            if (sum < 1) {
                event.preventDefault();
                document.getElementById('error-message').style.display = 'block';
            } else {
                document.getElementById('error-message').style.display = 'none';
            }
        })

        function fetchData(name) {
            fetch(`/player/${name}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('overlay3Label').textContent = data.name;
                    
                    const listContainer1 = document.getElementById('list-opponents');
                    listContainer1.innerHTML = '';
                    data.opponents.forEach(item => {
                        const listItem = document.createElement('li');
                        listItem.textContent = `${item[0]}: ${item[1]}`;
                        listContainer1.appendChild(listItem);
                    });

                    const listContainer2 = document.getElementById('list-teammates');
                    listContainer2.innerHTML = '';
                    data.teammates.forEach(item => {
                        const listItem = document.createElement('li');
                        listItem.textContent = `${item[0]}: ${item[1]}`;
                        listContainer2.appendChild(listItem);
                    });

                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        }

        document.querySelectorAll('.name-link').forEach(item => {
            item.addEventListener('click', function() {
                const name = this.getAttribute('data-name');
                console.log(name)
                fetchData(name);  // Call fetch function with the clicked word
            });
        });

    </script>
</body>
</html>
